configurations/common/bin/exp
configurations/common/bin/tldr
configurations/common/bin/ack
configurations/common/bin/powerline
configurations/common/bin/fcdclient
configurations/common/bin/fcdserver
configurations/common/bashrc
configurations/common/alacritty.yml
configurations/common/fishrc
configurations/common/gitconfig
configurations/common/Xresources
configurations/common/bin/sshc
configurations/common/exp
configurations/common/fcd
configurations/common/tldr
configurations/common/sshc
configurations/common/fonts
configurations/common/ranger/bookmarks
configurations/common/vim/bundle
configurations/common/nvim/plugged
configurations/common/vimperator/info
configurations/common/vimb/bookmark
configurations/common/vimb/closed
configurations/common/vimb/command
configurations/common/vimb/cookies
configurations/common/vimb/history
configurations/common/vimb/hsts
configurations/common/vimb/queue
configurations/common/vimb/search
configurations/common/emacs/bashrc
configurations/common/emacs/emacs.d/auto-save-list
configurations/common/emacs/emacs.d/elpa
configurations/common/emacs/emacs.d/backups
configurations/common/emacs/emacs.d/recentf
configurations/common/emacs/emacs.d/transient
configurations/common/emacs/spacemacs.d
configurations/common/emacs/doomemacs.d
configurations/private
configurations/troynas/bashrc
configurations/troynas/tmux.conf
configurations/troynas/bin/tsundoku
configurations/troynas/bin/arc_summary
configurations/troynas/bin/bashtop
configurations/troynas/tsundoku
configurations/troypc/fontawesome
configurations/troypc/bashrc
configurations/troypc/xmonad/xmonad-git
configurations/troypc/xmonad/xmonad-contrib-git
configurations/troypc/xmonad/xmonad-dbus-git
configurations/troypc/xmonad/xmonad-lock
configurations/troypc/xmonad/xmonad.hi
configurations/troypc/xmonad/xmonad.o
configurations/troypc/xmonad/xmonad.errors
configurations/troypc/xmonad/xmonad.log
configurations/troypc/xmonad/xmonad-x86_64-linux
configurations/troypc/xmonad/prompt-history
configurations/troymac/bashrc
configurations/server/bashrc
configurations/server/tmux.conf
.stack-work
.DS_Store
*.pyo
