configurations/common/bin/exp
configurations/common/bin/tldr
configurations/common/bin/ack
configurations/common/bin/powerline
configurations/common/bashrc
configurations/common/fishrc
configurations/common/Xresources
configurations/common/bin/sshc
configurations/common/exp
configurations/common/tldr
configurations/common/sshc
configurations/common/fonts
configurations/common/vim/bundle
configurations/common/vimperator/info
configurations/common/vimb/bookmark
configurations/common/vimb/closed
configurations/common/vimb/command
configurations/common/vimb/cookies
configurations/common/vimb/history
configurations/common/vimb/hsts
configurations/common/vimb/queue
configurations/common/vimb/search
configurations/private
configurations/troynas/bashrc
configurations/troynas/tmux.conf
configurations/troynas/bin/tsundoku
configurations/troynas/tsundoku
configurations/troypc/fontawesome
configurations/troypc/xmonad/xmonad-git
configurations/troypc/xmonad/xmonad-contrib-git
configurations/troypc/xmonad/xmonad-dbus-git
configurations/troypc/xmonad/xmonad-lock
configurations/troypc/xmonad/xmonad.hi
configurations/troypc/xmonad/xmonad.o
configurations/troypc/xmonad/xmonad.errors
configurations/troypc/xmonad/xmonad.log
configurations/troypc/xmonad/xmonad-x86_64-linux
configurations/troypc/xmonad/prompt-history
configurations/server/bashrc
configurations/server/tmux.conf
.stack-work
.DS_Store
