configurations/common/bin/ack
configurations/common/bashrc
configurations/common/fishrc
configurations/common/bin/sshc
configurations/common/sshc
configurations/common/fonts
configurations/common/vim/bundle
configurations/common/vimperator/info
configurations/private
configurations/troynas/bashrc
configurations/troynas/tmux.conf
configurations/troypc/fontawesome
configurations/troypc/xmonad/xmonad-git
configurations/troypc/xmonad/xmonad-contrib-git
configurations/troypc/xmonad/xmonad-dbus-git
configurations/troypc/xmonad/xmonad-lock
configurations/troypc/xmonad/xmonad.hi
configurations/troypc/xmonad/xmonad.o
configurations/troypc/xmonad/xmonad.errors
configurations/troypc/xmonad/xmonad-x86_64-linux
configurations/server/bashrc
configurations/server/tmux.conf
.stack-work
